<a href="https://colab.research.google.com/github/patricktapajos/ex-python-ds/blob/master/Aula_2_aula_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Biblioteca Pandas

## Series

In [1]:
import pandas as pd

In [2]:
s = pd.Series([10, 20, 30, 40, 50])

In [3]:
print (s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
s[3]

40

In [5]:
s = pd.Series(9.7, range(4))
s

0    9.7
1    9.7
2    9.7
3    9.7
dtype: float64

In [7]:
s = pd.Series([10, 20, 30, 40, 50])

In [8]:
s.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [9]:
s_custom = pd.Series([10, 20, 30], index=['1a dezena','2a dezena','3a dezena'])
print(s_custom)

1a dezena    10
2a dezena    20
3a dezena    30
dtype: int64

In [10]:
pd.Series([10, 20, 30, 40, 50], [15, 25, 35, 45, 55])

15    10
25    20
35    30
45    40
55    50
dtype: int64

##DataFrame

In [12]:
dic1 = {'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'SIGLA': ['AM', 'AP', 'AC'], 'CAPITAL':['Manaus', 'Macapá', 'Rio Branco']}
pd.DataFrame(dic1)

     ESTADO SIGLA     CAPITAL
0  Amazonas    AM      Manaus
1     Amapá    AP      Macapá
2      Acre    AC  Rio Branco