<a href="https://colab.research.google.com/github/patricktapajos/pos-ciencia-dados/blob/master/mod04-appv/aula01/atividade02/grupo9_etl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ETL com PySpark**

## Instalação do postgres

In [ ]:
# Install postgresql server
!sudo -S apt-get -y -qq update
!sudo -S apt-get -y -qq install postgresql
!sudo -S service postgresql start

## Criação de usuário e database

In [ ]:
# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a database with name `northwind` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS northwind;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE northwind;'
!pip install pgspecial

## Importação do arquivo para o schema/database

Para facilitar a importação da estrutura e dos dados (DDL), vamos criar variáveis de ambiente

In [3]:
%env DATABASE_NAME=northwind
%env DATABASE_HOST=localhost
%env DATABASE_PORT=5432
%env DATABASE_USER=postgres
%env DATABASE_PASS=postgres

env: DATABASE_NAME=northwind
env: DATABASE_HOST=localhost
env: DATABASE_PORT=5432
env: DATABASE_USER=postgres
env: DATABASE_PASS=postgres

In [4]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [5]:
!sudo PGPASSWORD=$DATABASE_PASS psql -q -h $DATABASE_HOST -p $DATABASE_PORT -U $DATABASE_USER -d $DATABASE_NAME -f '/content/drive/Shareddrives/pgds_dataset/northwind.sql'

## Conexão com o postgresql

In [6]:
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://postgres:postgres@localhost/northwind

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: postgres@northwind'

## Exportando tabelas do schema 'Northwind' para o formato csv

In [7]:
# %sql SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname = 'northwind'
tables_list = %sql SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname = 'public'
tables_list

 * postgresql+psycopg2://postgres:***@localhost/northwind

                 tablename
0   customer_customer_demo
1                suppliers
2                 shippers
3    customer_demographics
4              territories
5                   region
6                us_states
7               categories
8                employees
9     employee_territories
10                products
11           order_details
12               customers
13                  orders

In [14]:
import os

if not os.path.exists("northwind_db"):
    !mkdir northwind_db

for i in tables_list['tablename']:
  if not os.path.exists(f"/content/northwind_db/{i}.csv"):
    !touch "/content/northwind_db/{i}.csv"
  !chmod 777 "/content/northwind_db/{i}.csv"
  %sql copy {i} TO '/content/northwind_db/{i}.csv' DELIMITER ',' CSV HEADER;

 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind
 * postgresql+psycopg2://postgres:***@localhost/northwind

## Instalação do PySpark

No bloco abaixo, realizamos a instalação dos pacotes necessários para o funcionamento do PySpark no Google Colab

In [16]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
!tar xf spark-2.4.7-bin-hadoop2.7.tgz
!pip install -q findspark

Com o PySpark instalado, precisamos setar duas variáveis de sistema que o mesmo irá utilizar durante sua execução:

In [17]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"

Neste ponto, fazemos um pequeno teste de modo a verificar o funcionamento correto do PySpark.

In [18]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

## ETL - Extract, Transform and Load

Com o PySpark corretamente instalado, o primeiro passo de nosso ETL é a *Extração*.

Neste ponto, vamos importar nossa base e preparar a mesma para ser carregada no PySpark. Depois de carregada no PySpark, iremos agrupar os dados com base em uma das colunas.

In [19]:
from pyspark.sql import SQLContext

scSpark = SparkSession \
        .builder \
        .appName("reading csv") \
        .getOrCreate()
data_file = '/content/northwind_db/orders.csv'
sdfData = scSpark.read.csv(data_file, header=True, sep=",").cache()
print('Total Records = {}'.format(sdfData.count()))
sdfData.show()

Total Records = 830
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+--------------+-----------+----------------+------------+
|order_id|customer_id|employee_id|order_date|required_date|shipped_date|ship_via|freight|           ship_name|        ship_address|     ship_city|ship_region|ship_postal_code|ship_country|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+--------------+-----------+----------------+------------+
|   10248|      VINET|          5|1996-07-04|   1996-08-01|  1996-07-16|       3|  32.38|Vins et alcools C...|  59 rue de l'Abbaye|         Reims|       null|           51100|      France|
|   10249|      TOMSP|          6|1996-07-05|   1996-08-16|  1996-07-10|       1|  11.61|  Toms Spezialitäten|       Luisenstr. 48|       Münster|       null|           44087|     Germany|
|   10250|      HANAR|          4|1996-07-08|   1996-08-05|  1996-07-12|       2|  65.83|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|
|   10251|      VICTE|          3|1996-07-08|   1996-08-05|  1996-07-15|       1|  41.34|Victuailles en stock|  2, rue du Commerce|          Lyon|       null|           69004|      France|
|   10252|      SUPRD|          4|1996-07-09|   1996-08-06|  1996-07-11|       2|   51.3|    Suprêmes délices|Boulevard Tirou, 255|     Charleroi|       null|          B-6000|     Belgium|
|   10253|      HANAR|          3|1996-07-10|   1996-07-24|  1996-07-16|       2|  58.17|       Hanari Carnes|     Rua do Paço, 67|Rio de Janeiro|         RJ|       05454-876|      Brazil|
|   10254|      CHOPS|          5|1996-07-11|   1996-08-08|  1996-07-23|       2|  22.98|   Chop-suey Chinese|        Hauptstr. 31|          Bern|       null|            3012| Switzerland|
|   10255|      RICSU|          9|1996-07-12|   1996-08-09|  1996-07-15|       3| 148.33|  Richter Supermarkt|         Starenweg 5|        Genève|       null|            1204| Switzerland|
|   10256|      WELLI|          3|1996-07-15|   1996-08-12|  1996-07-17|       2|  13.97|Wellington Import...|  Rua do Mercado, 12|       Resende|         SP|       08737-363|      Brazil|
|   10257|      HILAA|          4|1996-07-16|   1996-08-13|  1996-07-22|       3|  81.91|    HILARION-Abastos|Carrera 22 con Av...| San Cristóbal|    Táchira|            5022|   Venezuela|
|   10258|      ERNSH|          1|1996-07-17|   1996-08-14|  1996-07-23|       1| 140.51|        Ernst Handel|        Kirchgasse 6|          Graz|       null|            8010|     Austria|
|   10259|      CENTC|          4|1996-07-18|   1996-08-15|  1996-07-25|       3|   3.25|Centro comercial ...|Sierras de Granad...|   México D.F.|       null|           05022|      Mexico|
|   10260|      OTTIK|          4|1996-07-19|   1996-08-16|  1996-07-29|       1|  55.09|  Ottilies Käseladen|  Mehrheimerstr. 369|          Köln|       null|           50739|     Germany|
|   10261|      QUEDE|          4|1996-07-19|   1996-08-16|  1996-07-30|       2|   3.05|         Que Delícia|Rua da Panificado...|Rio de Janeiro|         RJ|       02389-673|      Brazil|
|   10262|      RATTC|          8|1996-07-22|   1996-08-19|  1996-07-25|       3|  48.29|Rattlesnake Canyo...|     2817 Milton Dr.|   Albuquerque|         NM|           87110|         USA|
|   10263|      ERNSH|          9|1996-07-23|   1996-08-20|  1996-07-31|       3| 146.06|        Ernst Handel|        Kirchgasse 6|          Graz|       null|            8010|     Austria|
|   10264|      FOLKO|          6|1996-07-24|   1996-08-21|  1996-08-23|       3|   3.67|      Folk och fä HB|        Åkergatan 24|        Bräcke|       null|        S-844 67|      Sweden|
|   10265|      BLONP|          2|1996-07-25|   1996-08-22|  1996-08-12|       1|  55.28|Blondel père et fils|    24, place Kléber|    Strasbourg|       null|           67000|      France|
|   10266|      WARTH|          3|1996-07-26|   1996-09-06|  1996-07-31|       3|  25.73|      Wartian Herkku|         Torikatu 38|          Oulu|       null|           90110|     Finland|
|   10267|      FRANK|          4|1996-07-29|   1996-08-26|  1996-08-06|       1| 208.58|      Frankenversand|   Berliner Platz 43|       München|       null|           80805|     Germany|
+--------+-----------+-----------+----------+-------------+------------+--------+-------+--------------------+--------------------+--------------+-----------+----------------+------------+
only showing top 20 rows